.sideBar {
    flex: 0.2;
    background-color: #0b0b5a;
    color: white;
    height: 100vh;
    flex-shrink: 0
}

.sideBarIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    justify-content: center;
}

.sideBarTopContent {
    font-size: 26px;
}

.sideBarOptionsBlock {
    margin-top: 30px;
}

.sideBarOption {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.active {
    background-color: rgb(72, 72, 222);
}